.edit-2-pin {
  @apply absolute flex h-[54px] w-[54px]  items-center justify-center rounded-full bg-black/40;
  &.active {
    .edit-2-pin__in {
      @apply h-full w-full;
    }
  }
  &__in {
    @apply h-[26px] w-[26px] rounded-full bg-black transition-all;
  }
}
.edit-2-prd-pin {
  @apply flex items-start gap-[18px];
  &__w-img {
    @apply aspect-[102/117] w-[40%] lg:aspect-[256/297] lg:min-w-[256px] lg:max-w-[250px] lg:w-[33%] overflow-hidden bg-[#f2f2f2];
  }
  &__img {
    @apply h-full w-full object-cover;
  }
  &__cnt {
    @apply flex flex-1 flex-col justify-between self-stretch lg:self-auto pt-1 lg:p-0;
  }
  &__ttl {
    @apply mb-2 text-[12px] lg:text-[28px] lg:font-semibold lg:leading-[36px];
  }
  &__prc {
    @apply mb-[19px] lg:mb-[40px] text-[12px] lg:text-[22px] font-extrabold lg:font-medium;
  }
  &__btn {
    @apply flex h-[40px] text-[14px] lg:text-[16px] lg:h-[58px] lg:w-[183px] cursor-pointer items-center justify-center bg-white text-black border lg:bg-[#121721] lg:text-white lg:border-none;
  }
}

.marq-edit-2 {
  @apply relative flex overflow-hidden select-none;
  &__cnt {
    @apply shrink-0 flex justify-around min-w-full whitespace-nowrap text-[14px] lg:text-[32px] text-[#171614];
    animation: scroll 10s linear infinite;
    -webkit-animation: scroll 10s linear infinite;
    -moz-animation: scroll 10s linear infinite;
    -o-animation: scroll 10s linear infinite;
    -ms-animation: scroll 10s linear infinite;
    p {
      margin-right: 8px;
    }
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 8px));
  }
}
