.edit-1-prd-item {
  @apply text-white lg:text-[#121721];
  &__w-img {
    @apply aspect-[294/417] overflow-hidden lg:aspect-[394/557];
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  }
  &__img {
    @apply h-full w-full object-cover;
  }
  &__cnt {
    @apply mt-[15px] flex flex-col items-center px-[12px] text-center opacity-0 invisible transition duration-500 lg:mt-[22px];
  }
  &__ttl {
    @apply mb-[8px] text-[14px] leading-[16px] lg:mb-[2px] lg:text-[32px] lg:leading-[40px];
  }
  &__prc {
    @apply text-[16px] font-bold lg:text-[24px];
  }
  &__btn {
    @apply mt-3 h-[40px] w-[165px] border border-[#121721] bg-white text-[14px] font-semibold text-[#121721] lg:h-[58px] lg:w-[225px] lg:text-[16px];
  }
}

#edit1Main {
  .swiper-inner .swiper-slide-active .edit-1-prd-item__cnt {
    @apply opacity-100 visible;
  }
}

.slide {
  @apply relative mx-[20px] text-[40px] font-bold leading-[50px] text-black/40 lg:mx-[50px] lg:text-[140px] lg:leading-[160px];
  width: auto !important;
  cursor: pointer !important;
  &:before {
    content: '.';
    position: absolute;
    @apply left-[-25px] bottom-[10px] lg:left-[-70px] lg:bottom-[40px];
  }
  &.slide-active {
    @apply text-black;
  }
}

.edit-1-side-content {
  @apply absolute lg:z-[2] w-full lg:w-[31.5%] overflow-hidden h-full opacity-0;
  &.active {
    opacity: 1 !important;
  }
}
