@font-face {
	font-family: 'Mukta';
	src: url('../../assets/fonts/Mukta-Regular.woff2') format('woff2'), url('../../assets/fonts/Mukta-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mukta';
	src: url('../../assets/fonts/Mukta-Medium.woff2') format('woff2'), url('../../assets/fonts/Mukta-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mukta';
	src: url('../../assets/fonts/Mukta-SemiBold.woff2') format('woff2'), url('../../assets/fonts/Mukta-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mukta';
	src: url('../../assets/fonts/Mukta-Bold.woff2') format('woff2'), url('../../assets/fonts/Mukta-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}