@import 'swiper/css/bundle';
@import '/src/styles/_font';
//@import 'slick-carousel/slick/slick';
//@import 'slick-carousel/slick/slick-theme';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mutka';
  src: url('/assets/fonts/Mutka-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mutka';
  src: url('/assets/fonts/Mutka-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mutka';
  src: url('/assets/fonts/Mutka-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mutka';
  src: url('/assets/fonts/Mutka-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.scrollContainer {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}

.spacer {
  text-align: center;
  min-height: 100px;
}
.spacer.s0 {
  min-height: 1px;
}
.spacer.s1 {
  min-height: 100px;
}
.spacer.s2 {
  min-height: 200px;
}
.spacer.s3 {
  min-height: 300px;
}
.spacer.s4 {
  min-height: 400px;
}
.spacer.s5 {
  min-height: 500px;
}
.spacer.s6 {
  min-height: 600px;
}
.spacer.s7 {
  min-height: 700px;
}
.spacer.s8 {
  min-height: 800px;
}
.spacer.s9 {
  min-height: 900px;
}
.spacer.s10 {
  min-height: 1000px;
}
.spacer.s_viewport {
  min-height: 100%;
}

@import '/src/styles/_editorial-4.scss';
@import '/src/styles/hero.scss';
@import '/src/styles/_editorial-1.scss';
@import '/src/styles/_editorial-2.scss';
@import '/src/styles/editorial-5.scss';
@import '/src/styles/animations.scss';

.header {
  @apply fixed left-0 right-0 top-[24px] z-[100] flex h-[60px] w-full flex-col justify-center  bg-transparent px-[24px] text-white lg:top-[24px] lg:h-[112px] lg:justify-start lg:p-0;
  @apply overflow-hidden lg:pt-[25px];
  transition: background 300ms ease-in-out, padding 300ms ease-in-out,
    height 300ms ease-in-out;
  @media screen and (min-width: 1024px) {
    // &:before {
    //   position: absolute;
    //   content: '';
    //   left: 0;
    //   top: 0;
    //   height: 100%;
    //   width: 100%;
    //   background: linear-gradient(
    //     180deg,
    //     rgba(23, 22, 20, 0.65) 0%,
    //     rgba(23, 22, 20, 0) 100%
    //   );
    //   transition: all 200ms ease-in-out;
    // }
    box-shadow: none;
    &:hover {
      background-color: white !important;
      color: #171614 !important;
      &:before {
        top: -100% !important;
      }
      .src-brd {
        background-color: #171614 !important;
      }
      .header__img--w {
        opacity: 0 !important;
      }
      .header__img--b {
        opacity: 100 !important;
      }
    }
  }

  &__logo {
    @apply left-[37px] lg:left-0 relative z-10 h-[30px] min-w-[85px] max-w-[85px] top-[-3px] lg:h-[41px] lg:min-w-[120px] lg:max-w-[120px] scale-100 lg:top-[-4px];
    transition: transform 300ms ease-in-out, scale 300ms ease-in-out;
  }
  &__img {
    @apply absolute inset-0 h-full w-full;
    transition: opacity 300ms ease-in-out;
    &--b {
      @apply opacity-0;
    }
    &--w {
      @apply opacity-100;
    }
  }

  &__ctn {
    @apply z-10 flex w-full items-end text-sm lg:px-[48px];
  }

  &__nav {
    @apply flex w-full justify-between pl-[40px];
    transition: padding 300ms ease-in-out, color 300ms ease-in-out;
  }

  &__menu {
    @apply absolute left-1/2 hidden -translate-x-1/2 gap-[23px] lg:flex;
    span {
      @apply cursor-pointer;
    }
  }

  &__icn {
    @apply flex items-center gap-[24px];
    span {
      @apply cursor-pointer;
    }    
  }

  &__m-cat {
    @apply hidden gap-[26px] lg:flex;
    span {
      @apply cursor-pointer;
    }
    span:not(.selected) {
      @apply opacity-50;
    }
  }

  &__icn-src {
    @apply flex w-[128px] items-center justify-end relative;
  }
  .src-brd {
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 1px;
    width: 100%;
    background: white;
    transition: background 300ms ease-in-out;
  }
}
